<div id='discussion_enter'>
<div id='textarea_container'>
  <textarea class='discussion'/>
  </div>
  <input type='button' id='submit_discussion' value='Send' class='enabled'/>
</div>

<div id='discussion_area'>
  <table id='discussion_items'>
  </table>
</div>


