{{#if participant }}
  <tr>
    <td class='participant'>
      <a class='reply' href='#' title='Reply to {{ participant }}'>{{ participant }}</a>
    </td>
    <td class="message {{#if isForMe }} forMe {{/if }}">{{{ text }}}</td>
  </tr>
{{/if}}
