{{#each messages }}
  <tr>
    <td class='user'>
      <a class='reply' href='#' title='Reply to {{ this.user }}'>{{ this.user }}</a>
    </td>
    <td class="message {{#if this.isForMe }} forMe {{/if }}">{{ this.text }}</td>
  </tr>
{{/each}}

