{{#if user }}
  <tr>
    <td class='user'>
      <a class='reply' href='#' title='Reply to {{ user }}'>{{ user }}</a>
    </td>
    <td class="message {{#if isForMe }} forMe {{/if }}">{{{ text }}}</td>
  </tr>
{{/if}}
