<div id="participant_container">
</div>

<div id="panel_container">

  <div id="left_panel" class="panel">
    <div id="progress_bar_container"></div>
    <div id="question_container">
    </div>
  </div>

  <div id="right_panel" class="panel">

    <div id="discussion_container" class="section">
    </div>

    <div id="credits">
      <a href="http://twitter.com/pragma_tech" target="_blank">@pragma_tech</a>
      <a href="http://twitter.com/rubybuddha" target="_blank">@rubybuddha</a>
      <a href="http://twitter.com/nummi" target="_blank">@nummi</a>
      <a href="http://twitter.com/saterus" target="_blank">@saterus</a>
      <a href="http://twitter.com/edgecase" target="_blank">@edgecase</a>
    </div>

  </div>
</div>
