<div id="participant_container">
</div>

<div id="panel_container">

  <div id="left_panel" class="panel">
    <div id="msg"></div>
    <div id="progress_bar_container"></div>
    <div id="question_container">

      <div id="welcome">

        <h1>Welcome and Begin!</h1>
        <label>
          Select a name for your team
          <br/><br/>
          <input name="name" id="name"/><br/>
        </label>

        <input type="button" id="name_button" class="student" value="Select Name"/>

      </div>
    </div>
  </div>

  <div id="right_panel" class="panel">

    <div id="discussion_container" class="section">
    </div>

    <div id="credits">
      <a href="http://twitter.com/pragma_tech" target="_blank">@pragma_tech</a>
      <a href="http://twitter.com/rubybuddha" target="_blank">@rubybuddha</a>
      <a href="http://twitter.com/nummi" target="_blank">@nummi</a>
      <a href="http://twitter.com/edgecase" target="_blank">@edgecase</a>
    </div>

  </div>
</div>
