<div id="participant_container">
</div>

<div id="panel_container">

  <div id="left_panel" class="panel">
    <div id="progress_bar_container"></div>
    <div id="question_container">
    </div>
  </div>

  <div id="right_panel" class="panel">

    <div id="discussion_container" class="section">
    </div>

  </div>
</div>
