<h1>Welcome and Begin!</h1>
<label>
  Select a name for your team
  <br/><br/>
  <input name="name" id="name"/><br/>
</label>

<input type="button" id="name_button" class="student" value="Select Name"/>


