#header
  #header_left
    #question_progress.progress_bar
      .bar
      .text
  #header_right
    #answer_pad_button.switch(data-target="#answer_pad")
    #discussion_pad_button.switch(data-target="#discussion_pad")
