!= partial('header')

ul.participants

#mainPanelSwitch
  #questionsSwitch Questions
  #slidesSwitch.active Slides

#panel_container
  #left_panel.panel
    .msg
    #slidesContainer
      iframe(src="http://saterus.github.com/haskell_talk/#(27)", frameborder="0", border="0", cellspacing="0")
    .questionContainer
      #welcome
        h1 Welcome and Begin!
        label Select a name for your team
          br
          br
          input(name="name", id="name")
        br
        input(type="button", id="name_button", class="student", value="Select Name")

  #right_panel.panel
    #answer_pad.section
      ul.possibleAnswers
      ul.answerStats

      #final_answer_container
        a#final_answer.disabled(href="#") Submit My Final Answer

      #credits
        a(href="http://twitter.com/pragma_tech", target="_blank")@pragma_tech
        a(href="http://twitter.com/rubybuddha",  target="_blank")@rubybuddha
        a(href="http://twitter.com/nummi",       target="_blank")@nummi
        a(href="http://twitter.com/edgecase",    target="_blank")@edgecase

    #discussion_pad.section
      #discussion_enter
        #textarea_container
          textarea.discussion
        input(type="button", id="submit_discussion", value="Send", class="enabled")
      #discussion_area
        table#discussion_items
