h1 Welcome and Begin!
.msg
ul.participants
ul.incomingAnswers
ul.answerStats
textarea.scratch
.scratch

.questionContainer
  label Select a nickname for your team!
    br
    input(name="name", id="name")
  input(type="button", id="name_button", value="Select Name")


input(type="hidden", id="currentQuestion", value="0")

style
  .good{ background: green; }
  .bad{ background: red; }

