!= partial('header')

ul.participants

#panel_container
  #left_panel.panel
    .msg
    .questionContainer
      #welcome
        h1 Welcome and Begin!
        label Select a name for your team
          br
          br
          input(name="name", id="name")
        br
        input(type="button", id="name_button", class="student", value="Select Name")

  #right_panel.panel
    #answer_pad.section
      ul.possibleAnswers
      ul.answerStats

      #final_answer_container
        a#final_answer.enabled(href="#") Submit My Final Answer

      #credits
        a(href="http://twitter.com/pragma_tech", target="_blank")@pragma_tech
        a(href="http://twitter.com/rubybuddha",  target="_blank")@rubybuddha
        a(href="http://twitter.com/edgecase",    target="_blank")@edgecase

    #scratch_pad.section
      #scratch_enter
        #textarea_container
          textarea.scratch
      #scratch_results
        .scratch

