!!!
html
  head
    title The People vs. JavaScript
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery.js")
  body!= body
