!!!
html
  head
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="initial-scale=1.0")

    title The People vs. JavaScript
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/vendor/jquery.js")
    script(src="/javascripts/vendor/underscore.js")
    script(src="/javascripts/vendor/prettify.js")
    script(src="/javascripts/vendor/jquery.tabby.js")
    script(src="/javascripts/UI.js")
    script(src="/javascripts/vendor/handlebars.js")
    script(src="/javascripts/templates.compiled.js")
    script(src="/javascripts/templates.js")
    script(src="/javascripts/view_component.js")
    script(src="/javascripts/answer_panel.js")
    script(src="/javascripts/discussion_panel.js")
    script(src="/javascripts/question_panel.js")
    script(src="/javascripts/user_list.js")
    script(src="/javascripts/participant_layout.js")
  body
    #container
      != body
