!!!
html
  head
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="initial-scale=1.0")

    title The People vs. JavaScript
    != css('app')
    script(src="/socket.io/socket.io.js")
    != js('app')

  body
    #container
      != body
