h1 Welcome and Begin!
.msg
ul.participants
ul.incomingAnswers
ul.answerStats
textarea.scratch
.scratch

.questionContainer
  label
    input(type="hidden", name="name", id="name", value="The Presenter")
    input(type="button", id="name_button", value="Login as Presenter")

a(href="#", id="presenterBack") back
&nbsp;
a(href="#", id="presenterNext") next
br
a(href="#", id="presenterResetQuiz") reset

style
  .good{ background: green; }
  .bad{ background: red; }

