!= partial('header')

ul.participants

#panel_container
  #left_panel.panel
    .msg
    .questionContainer
      #welcome
        h1 Welcome and Begin!
        input(type="hidden", name="name", id="name", value="The Presenter")
        br
        input(type="button", id="name_button", value="Login as Presenter", class="enabled")

  #right_panel.panel
    #answer_pad.section
      ul.possibleAnswers
      ul.answerStats

      #final_answer_container
        a#final_answer.enabled(href="#") Submit My Final Answer

      #credits.presenter
        a(href="#", id="presenterBack") back
        &nbsp;
        a(href="#", id="presenterNext") next
        &nbsp;
        a(href="#", id="presenterResetQuiz") reset

    #scratch_pad.section
      #scratch_enter
        #textarea_container
          textarea.scratch
      #scratch_results
