@font-face {
    font-family: 'InconsolataMedium';
    src: url('/fonts/Inconsolata-webfont.eot');
    src: url('/fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Inconsolata-webfont.woff') format('woff'),
         url('/fonts/Inconsolata-webfont.ttf') format('truetype'),
         url('/fonts/Inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}