opacity($value) {
  -ms-filter     : unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity={$value} * 100)');
  filter         : unquote('alpha(opacity={$value} * 100)');
  -moz-opacity   : $value;
  -khtml-opacity : $value;
  opacity        : $value;
}

linear_gradient($start, $finish) {
  background: $finish;
  background: -moz-linear-gradient(top, $start 0%, $finish 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$finish));
  background: -webkit-linear-gradient(top, $start 0%, $finish 100%);
  background: -o-linear-gradient(top, $start 0%, $finish 100%);
  background: -ms-linear-gradient(top, $start 0%, $finish 100%);
  filter: unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr="{$start}", endColorstr="{$finish}",GradientType=0)');
  background: linear-gradient(top, $start 0%, $finish 100%);
}

overflow_ellipsis() {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

transition($value) {
  -webkit-transition : $value;
  -moz-transition    : $value;
  -ms-transition     : $value;
  -o-transition      : $value;
  transition         : $value;
}

user_select($value=none) {
  -khtml-user-select  : $value;
  -webkit-user-select : $value;
  -moz-user-select    : $value;
  -o-user-select      : $value;
  user-select         : $value;
}

box_sizing($value=border-box){
 -moz-box-sizing    : $value;
 -webkit-box-sizing : $value;
  box-sizing        : $value;
}

border_radius($radius=6px) {
  -webkit-border-radius : $radius;
  -moz-border-radius    : $radius;
  -o-border-radius      : $radius;
  border-radius         : $radius;
  -webkit-background-clip: padding-box;
}

border_top_left_radius($radius=6px) {
  -webkit-border-top-left-radius  : $radius;
  -moz-border-radius-topleft      : $radius;
  -o-border-radius-topleft        : $radius;
  border-top-left-radius          : $radius;
  -webkit-background-clip: padding-box;
}

border_top_right_radius($radius=6px) {
  -webkit-border-top-right-radius : $radius;
  -moz-border-radius-topright     : $radius;
  -o-border-radius-topright       : $radius;
  border-top-right-radius         : $radius;
  -webkit-background-clip: padding-box;
}

border_bottom_left_radius($radius=6px) {
  -webkit-border-bottom-left-radius  : $radius;
  -moz-border-radius-bottomleft      : $radius;
  -o-border-radius-bottomleft        : $radius;
  border-bottom-left-radius          : $radius;
  -webkit-background-clip: padding-box;
}

border_bottom_right_radius($radius=6px) {
  -webkit-border-bottom-right-radius : $radius;
  -moz-border-radius-bottomright     : $radius;
  -o-border-radius-bottomright       : $radius;
  border-bottom-right-radius         : $radius;
  -webkit-background-clip: padding-box;
}

box_shadow($set1=none, $set2='', $set3='') {
  if $set3 != '' {
    -moz-box-shadow    : $set1, $set2, $set3;
    -webkit-box-shadow : $set1, $set2, $set3;
    box-shadow         : $set1, $set2, $set3;
  } else if $set2 != '' {
    -moz-box-shadow    : $set1, $set2;
    -webkit-box-shadow : $set1, $set2;
    box-shadow         : $set1, $set2;
  } else {
    -moz-box-shadow    : $set1;
    -webkit-box-shadow : $set1;
    box-shadow         : $set1;
  }
}

border_image($value) {
  -moz-border-image     : $value;
  -webkit-border-image  : $value;
  -o-border-image       : $value;
  border-image          : $value;
}

display_box() {
  display :-webkit-box;
  display :-moz-box;
  display : box;
}

box_orient($value) {
 -webkit-box-orient : $value;
 -moz-box-orient    : $value;
  box-orient        : $value;
}

box_pack($value) {
 -webkit-box-pack : $value;
 -moz-box-pack    : $value;
  box-pack        : $value;
}

box_align($value) {
 -webkit-box-align : $value;
 -moz-box-align    : $value;
  box-align        : $value;
}

standard_field_bedazzle() {
  border  : 1px solid #ccc;
  outline : none;
  box_shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
}

standard_field_focus() {
  outline : none;
  border-color: #3e9ac4;
  box_shadow(0 0 5px rgba(2,164,239,0.8), inset 0 0 3px rgba(2,164,239,0.8));
}

standard_button_bedazzle() {
  border          : 1px solid #bebebe;
  padding         : 8px 30px;
  color           : #333;
  font-weight     : bold;
  text-decoration : none;
  user_select(none);
  box_shadow(0 1px 0px #fff);
  border_radius(5px);
  linear_gradient(#ffffff, #f7f7f7);
  transition(opacity 0.25s linear);
}

standard_button_bedazzle_active() {
  background: #dddddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #f7f7f7 12%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(12%,#f7f7f7), color-stop(100%,#f7f7f7));
  background: -webkit-linear-gradient(top, #dddddd 0%,#f7f7f7 12%,#f7f7f7 100%);
  background: -o-linear-gradient(top, #dddddd 0%,#f7f7f7 12%,#f7f7f7 100%);
  background: -ms-linear-gradient(top, #dddddd 0%,#f7f7f7 12%,#f7f7f7 100%);
  filter: unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr="#dddddd", endColorstr="#f7f7f7",GradientType=0)');
  background: linear-gradient(top, #dddddd 0%,#f7f7f7 12%,#f7f7f7 100%);
}
